.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFC090;
  font-family: sans-serif;
}

.App>h1 {
  background: none;
  color: #3D8361;
  font-family: serif;
}

.menu, .quiz, .end{
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(#749F82,#156f5d);
}

.menu input {
  width: 320px;
  font-size: 20px;
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  background-color: #647E68;
  color: white;
}

.menu input::placeholder{
  color: white;
  opacity: 0.5;
}

.menu input::selection{
  background-color: #93a896;
}

.menu button {
  width: 120px;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.options button {
  width: 300px;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid;
  color: #FFC090;
  background-color: #425F57;
}

#last-btn{
  width: 150px;
  margin: 10px;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  background-color:#DBC8AC;
  color: #425F57;
}